@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Qwitcher+Grypen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
}

body {
    background: #24252A;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin-top: 30px;
}

.dropdown-item {
    color: blue;
}